/ProyectoDistribuidos/nbproject/private/
/nbproject/private/
/build/
/ServidorSocket/nbproject/private/
/ClienteSocket/nbproject/private/
/ServidorSocket/build/
/ClienteSocket/build/
/Anillo/nbproject/private/
/Anillo/build/